@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="userInfoForm">
            <div class="row">
                <div class="col-sm-6">
                    <form id="Pic">
                        图片描述:
                        <input id="desc" name="desc" maxlength="40" class="form-control" underline="false"/>

                        <#input type="file" name="图片:" id="pic" underline="false" accept="image/png,image/gif,image/jpeg,image/x-ms-bmp,image/bmp"/>

                        <#input id="url" name="URL:" underline="false"/>
                    </form>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="Pic.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="Pic.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/pic/picList.js"></script>
@}
